<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<h1>Result</h1>
<p th:text="'id: ' + ${lector.lectorId}" />
<p th:text="'First name: ' + ${lector.firstName}" />
<p th:text="'Last name: ' + ${lector.lastName}" />
<p th:text="'Faculty id: ' + ${lector.getFaculty().facultyId}" />
<a href="/addLector">Submit</a>
</body>
</html>


